{% extends 'core/base.html' %}
{% block title %}Add student{% endblock title%}
{% block main_content%}
<section class='container'>
  <div class='row justify-content-around text-center text-white mt-6'>
    <div class='col-sm-8 '>
       <h3>Student Management {CRUD} project in django</h3>
    </div>
  </div>

  <div class='row justify-content-around'>
    <div class='col-sm-4'>
       <form action="" method="POST" class='bg-white p-3 rounded shadow'>
            {% csrf_token%}
            {{form.as_p}}
            <input type="submit" value="submit" class='btn ntn-primary'>
       </form>
    </div>  
 </div>
{% endblock main_content%}